<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RIFF</key>
	<string>DWTWaveChunk</string>
	<key>data</key>
	<string>DWTWaveDataChunk</string>
	<key>fmt</key>
	<string>DWTWaveFmtChunk</string>
	<key>LIST</key>
	<string>DWTWaveListInfoChunk</string>
	<key>ICMS</key>
	<string>DWTWaveStringChunk</string>
	<key>IART</key>
	<string>DWTWaveStringChunk</string>
	<key>ICOP</key>
	<string>DWTWaveStringChunk</string>
	<key>IENG</key>
	<string>DWTWaveStringChunk</string>
	<key>IKEY</key>
	<string>DWTWaveStringChunk</string>
	<key>INAM</key>
	<string>DWTWaveStringChunk</string>
	<key>ISRC</key>
	<string>DWTWaveStringChunk</string>
</dict>
</plist>
